@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.social{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-290px,0);
}

.social a {
    color: black;
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;

}

.social a:hover {
    transform: translate(140px,0);

} 

.social i{
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.social a:nth-child(1) i{
    color: #1B1A55;
}

.social a:nth-child(2) i{
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-family: 600;
}

.social a:nth-child(3) i{
    color: #5AB2FF;
}

.social a:nth-child(4) i{
    color:#FFDB00;
}

.social a:nth-child(5) i{
    color: #C40C0C;
}

.social a:nth-child(6) i{
    color: #A34343;
}

.social a:nth-child(7) i{
    color:#5C2FC2 ;
}

.social a:nth-child(8) i{
    color:#FF0000 ;
}