*
.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FFDE4D;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s, transform 0.3s;
}

.chat-toggle:hover {
  background-color: white;
}

.chat-toggle i {
  margin-right: 8px;
}

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hidden */
}

.chat-container.chat-open {
  display: block;
}

.chat-header {
  background-color: #FFDE4D;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.chat-header h2 {
  font-size: 1.4rem;
  margin: 0;
}

.chat-close {
  background-color: transparent;
  color: black;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-close:hover {
  background-color: white;
}

.chat-body {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  display: flex;
  flex-direction: column;
}

.msg-item {
  margin-bottom: 10px;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  clear: both;
}

.msg-item-bot {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.msg-item-user {
  align-self: flex-end;
  background-color: #FFDE4D;
  color: black;
}

.options {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-btn {
  background-color: #FFDE4D;
  color: black;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-btn:hover {
  background-color: white;
}

.chat-footer {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  text-align: center;
}

.chat-footer p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666;
}
